<configuration>
    <!-- 컬러를 포함한 콘솔 출력 패턴 -->
    <property name="CONSOLE_PATTERN"
              value="%cyan(%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}) [%highlight(%-5level)] [%yellow(%thread)] [%magenta(%C)] [%blue(%X{traceId})] [%X{method}-%X{requestUri}] - %m%n"/>

    <!-- 콘솔 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일 로그 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <!--        <appender-ref ref="FILE" />-->
    </root>
</configuration>